<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>lovemm-500</title>

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" th:href="@{/static/busi/css/error/other/dandelion.css}"  media="screen" />
</head>
<body>
    <!-- Main Wrapper. Set this to 'fixed' for fixed layout and 'fluid' for fluid layout' -->
    <div id="da-wrapper" class="fluid">

        <!-- Content -->
        <div id="da-content">

            <!-- Container -->
            <div class="da-container clearfix">

                <div id="da-error-wrapper">

                    <div id="da-error-pin"></div>
                    <div id="da-error-code">
                        error <span>500</span>                    </div>

                    <h1 class="da-error-heading">哎哟喂！页面让狗狗咬碎了！</h1>
                    <p>大家可以到狗狗没有咬过的地方看看！<br/>
                        <a href="#">首页</a>
                        <a th:href="@{/toLogin}">登录</a>
                    </p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="da-footer">
            <div class="da-container clearfix">2017 lovemm</div>
        </div>
    </div>

</body>
</html>