<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>lovemm-404</title>

    <link rel="stylesheet" th:href="@{/static/busi/css/error/404/main.css}" type="text/css" media="screen, projection" /> <!-- main stylesheet -->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/static/busi/css/error/404/tipsy.css}" /> <!-- Tipsy implementation -->
</head>
<body>
    <!-- Universal preloader -->
    <div id="universal-preloader">
        <div class="preloader">
            <img th:src="@{/static/busi/img/error/404/universal-preloader.gif}" alt="universal-preloader" class="universal-preloader-preloader" />
        </div>
    </div>
    <!-- Universal preloader -->

    <div id="wrapper">
        <!-- 404 graphic -->
        <div class="graphic"></div>
        <!-- 404 graphic -->
        <!-- Not found text -->
        <div class="not-found-text">
            <h1 class="not-found-text">文件丢了,对不起!</h1>
        </div>
        <!-- Not found text -->

        <!-- search form -->
        <div class="search">
            <form name="search" method="get" action="#" >
                <input type="text" name="search" value="Search ..." />
                <input class="with-tooltip" title="Search!" type="submit" name="submit" value="" />
            </form>
        </div>
        <!-- search form -->

        <!-- top menu -->
        <div class="top-menu">
            <a href="#" class="with-tooltip" title="Return to the home page">首页</a>
            <a th:href="@{/toLogin}" class="with-tooltip" title="Return to the home page">登录</a>
        </div>
        <!-- top menu -->

        <div class="dog-wrapper">
            <!-- dog running -->
            <div class="dog"></div>
            <!-- dog running -->

            <!-- dog bubble talking -->
            <div class="dog-bubble">

            </div>

            <!-- The dog bubble rotates these -->
            <div class="bubble-options">
                <p class="dog-bubble">
                    哎呀,页面好像丢失了?不用担心,我是一个优秀的导游!
                </p>
                <p class="dog-bubble">
                    <br />
                    Arf! Arf!
                </p>
                <p class="dog-bubble">
                    <br />
                    别担心!有我在!
                </p>
                <p class="dog-bubble">
                    我希望我有一块饼干<br /><img style="margin-top:8px" th:src="@{/static/busi/img/error/404/cookie.png}" alt="cookie" />
                </p>
                <p class="dog-bubble">
                    <br />
                    天啊!这真是很无聊!
                </p>
                <p class="dog-bubble">
                    <br />
                    我接近啦!
                </p>
                <p class="dog-bubble">
                    或者我只是在圈子里?不......
                </p>
                <p class="dog-bubble">
                    <br />
                    好的,我现在正式失去了……
                </p>
                <p class="dog-bubble">
                    我想我看到了 <br /><img style="margin-top:8px" th:src="@{/static/busi/img/error/404/cat.png}" alt="cat" />
                </p>
                <p class="dog-bubble">
                    我们应该寻找到底是什么? @_@
                </p>
            </div>
            <!-- The dog bubble rotates these -->
            <!-- dog bubble talking -->
        </div>

        <!-- planet at the bottom -->
        <div class="planet"></div>
        <!-- planet at the bottom -->
    </div>

    <script type="text/javascript" th:src="@{/static/res/jquery-2.1.0.js}"></script> <!-- uiToTop implementation -->
    <script type="text/javascript" th:src="@{/static/busi/js/error/404/custom-login.js}"></script>
    <script type="text/javascript" th:src="@{/static/busi/js/error/404/jquery.tipsy.js}"></script> <!-- Tipsy -->

    <script type="text/javascript">

        $(document).ready(function(){

            universalPreloader();

        });

        $(window).load(function(){

            //remove Universal Preloader
            universalPreloaderRemove();

            rotate();
            dogRun();
            dogTalk();

            //Tipsy implementation
            $('.with-tooltip').tipsy({gravity: $.fn.tipsy.autoNS});

        });

    </script>

</body>
</html>